<!DOCTYPE html>
<html lang="en">
  <head><% include partials/head %></head>
  <body>
    <header><% include partials/header %></header>

    <div class="container">
      <ul class="list-group">



        <% dokku.getAllRepos().forEach(function(repo) {%>
        <li class="list-group-item">
          <!-- actions for each app -->
          <div class="btn-group pull-right">
            <button class="btn btn-info">restart</button>
            <button class="btn btn-danger">delete</button>
          </div>

          <!-- application information -->
          <h3>
            <%= repo %>
            <small>web,procfileentry1</small>
          </h3>

        </li>
        <% }); %>



      </ul>
    </div>

    <footer><% include partials/footer %></footer>
  </body>
</html>
