<!DOCTYPE html>
<html lang="en">
  <head><% include partials/head %></head>
  <body>
    <header><% include partials/header %></header>

    <div class="container">
      <ul class="list-group">



        <li class="list-group-item">
          <!-- delete -->
          <button class="btn btn-danger pull-right">delete</button>

          <!-- application information -->
          <h3>
            App Name
            <small>web,procfileentry1</small>
          </h3>

        </li>



      </ul>
    </div>

    <footer><% include partials/footer %></footer>
  </body>
</html>
